<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes voyages{% endblock %}</title>
        
    </head>
    <body>
        {% block body %}
            <h1>Page d'accueil</h1>
        {% endblock %}
    </body>
</html>
